
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
}

header {
    display: flex;
    align-items: center;
    gap: 35%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
}
header img{
    border-radius: 50%;


}

header h1 {
    font-size: 28px;
}

.banner img {
    object-fit: cover;
}

.content {
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 50px;
}

.content a {
    text-decoration: none;
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}
.content img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  
}
.content button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #ff6b6b;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.content button:hover {
    background-color: #ff3b3b;
}
footer {
    margin-top: 50px;
    padding: 15px;
    text-align: center;
    background-color: #333;
    color: white;
}